.git
.github
**/.terraform
**/node_modules
**/.next
**/dist
**/build
**/target
**/.derivedData
artifacts
docs
context
scripts/load
apps/supplier-portal
apps/factory-portal
apps/warehouse-portal
apps/retailer-app-desktop
apps/payload-terminal
apps/*-app-android
apps/*-app-ios
apps/driverappios
apps/payload-app-ios
apps/payload-app-android
*.md
.env*
!.env.example
